<!DOCTYPE html>
<html lang="en" ng-app="acumuladorApp" >
<head>
    <meta charset="UTF-8">
    <title>Prueba 4 de AngularJS</title>
</head>
<body>


   <div ng-controller="acumuladorAppCtrl">
  <h1>Acumulador</h1>
  <h2>Control de operación:</h2>
  ¿Cuánto? <input type="text" ng-model="cuanto" size="4" />
  <br />
  <input type="button" value="+" ng-click="sumar()"/>
  <input type="button" value="-" ng-click="restar()"/>
  <h2>Totales:</h2>
  En el acumulador llevamos <span>{{total}}</span>
  </div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
<script src="app-4.js"></script>

</body>
</html>
